body{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin: 2%;
    position: absolute;
    right: 550px;
    font-size: 200%;
}
img{
    position: absolute;
    top: 120px;
    width: 50px;
    height: 50px;
    left: 650px;
    transform: rotate(15deg);
}
a{
    text-decoration: none;
    color: burlywood;
    background-color: lightseagreen;
    border: 2px solid wheat;
    text-align: center;
    width: 20%;
    height: 20%;
    border-radius: 49%;
    padding-top: 5%;

}

#a1{
    position: absolute;
    right: 300px;
    top: 400px;
}
#a2{
    position: absolute;
    left: 330px;
    top: 400px;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 300px;
    left: 100px;
    color: thistle;
}
#time{
    position: absolute;
    top: 250px;
    right: 180px;
}
 a:hover{
    color: hotpink;
    width: 45%;
    height: 45%;
}
h1:hover{
    font-size: 300%;
}
img:hover{
    transform: rotate(-15deg);
}